{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h2 class="section-title">About Us</h2>
    <p>At the heart of our work is a passion for bioinformatics. We are a dedicated team focused on making DNA analysis accessible, intuitive, and empowering for everyone. Whether you're a student exploring the complexities of genetics, a researcher conducting cutting-edge studies, or an innovator developing next-gen biotech solutions, our suite of free, user-friendly tools is designed with your needs in mind.</p>
    <p>Our mission is to revolutionize genetic data interpretation by combining clean, intuitive design with powerful educational features. Through continuous innovation, we aim to drive progress in the field of biotechnology, making science more approachable and impactful for all.</p>
</section>
{% endblock %}
