<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DNA Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>DNA🧬Analyzer🔬</h1>

        <div class="nav-right">
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('upload') }}">Upload</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('services') }}">Services</a>
                <a href="{{ url_for('contact') }}">Contact</a>
            </nav>

            <!-- Toggle Switch Here -->
            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" id="themeToggle">
                    <span class="slider round">
                        <span class="icon">🌞</span>
                    </span>
                </label>
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 DNA Analyzer. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>